@use '_variables.scss' as vars;

//Loader OhMyFood

// Variables pour le loader
$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;

.loader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
  animation: fadeOut 1s ease 2.8s forwards; // disparition après 2,8s
  .load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: vars.$primary;
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards infinite ease-in-out;
        animation-play-state: running;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-direction:alternate;
                animation-delay: $anim-delay * $i;
            }
            &--#{$i}-inv {
                animation-delay: $anim-delay * $i + random(100)*15ms;
                animation-direction: alternate-reverse;
                animation-fill-mode: forwards;
                background-color: vars.$pink2;
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}

  &__title {
    font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    color: vars.$primary;
    margin-top: 1rem;
    animation: textFade 3s ease-in-out;
  }
}

// Animations
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}


/*Général*/
*{
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background: vars.$background;
    margin: 0;
}
h1{
    font-size: 16px;
    font-weight: 500;
}
.section-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
p{
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.card {
    img{
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.header, .location, .btn-round, .step-content {
  box-shadow: vars.$shadow;
}
/*Header*/
.header-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 113px;
    .header{
        display: flex;
        flex-direction: row;
        height: 67px;
        align-items: center;
        padding: 17px;
        justify-content: center;
        position: relative;
        background-color: white;
        .fa-arrow-left {
            position: absolute;
            width: 30px;
            height: 30px;
            color: vars.$grey;
            align-content: center;
            left:20px;
        }
        .logo{
            justify-content: center;
            img{
                width: 197px;
                height:36px;
            }
        }
    }
    .location{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 17px;
        padding: 10px;
        background:vars.$grey2;
    }
}

/*Section Hero*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin:30px;
    background-color: transparent;
    .section-title{
        width: 275px;
        height: 68px;
        text-align: center;
        margin: 0;
    }
    p{
        width: 315px;
        height: 46px;
        text-align: center;
        margin-top: 10px;
    }
    .btn-round {
        width: 218px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: medium;
        margin-top: 30px;
        cursor: pointer;
        background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
        transition: all 300ms ease;
        &:hover{
            filter: brightness(1.2);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);    
        }
    }
}

/*Section Fonctionnement*/
.fonctionnement{
    background-color: white;
    padding:20px;
    .section-title{
        margin-bottom:20px;
        font-size: 24px;
        font-weight: bold;
    }
    .steps {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 30px; /* espace entre les bulles */
    }
    .step {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        min-width: 0;
        width: 100%;
        .step-number {
            background: vars.$purple; 
            color: white;
            font-weight: bold;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 13px;
            position: relative;
            z-index: 2;
        }
        .step-content {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 8px;
            background: vars.$background;
            border-radius: 20px;
            padding: 8px 16px;
            width: 322px; /* ajuste selon ton design */
            height:72px ;
            font-size: 16px;
            font-weight:bold;
            position: relative;
            z-index: 1;
            margin-left: -22px;
            .fa-solid{
                width: 13px;
                height: 20px;
                margin: 20px;
            }
            .step-text {
                font-size: 15px;
                color: black;
            }
            .fa-store{
                color: vars.$primary;
            }
        }
    }
}

/*Section Restaurants*/
.restaurants {
    margin: 0;
    box-sizing: border-box;
    padding: 50px 18px;

    .restaurants-cards{
        display: flex;
        flex-direction: column;
        gap:20px;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 251px;
            background: white;
            border-radius: 15px;
            overflow: hidden;

            .image-container{
                position: relative;
                width: 100%;
                height: 200px;
                overflow: hidden;
                .image-container img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .badge {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color:vars.$green;
                    color: vars.$greenfont;
                    padding: 5px 10px;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }
            .card-txt{
                padding: 5px;
                .card-header{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    .card-title{
                        margin: 0;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
            .card-like{
                position: absolute;
                bottom:10px;
                right: 10px;
                z-index: 10;
                .btn__check {
                    display: none;
                }
                .btn {
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    position: relative;
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    .fa-regular {
                        font-size: 22px;
                        color: #666;
                        transition: opacity 0.25s ease;
                    }
                    &__bg {
                        position: absolute;
                        font-size: 22px;
                        background: linear-gradient(180deg, #9356dc, #ff79da);
                        background-clip: text;     /* Applique le fond au texte */
                        color: transparent; /* Rend le texte transparent pour voir le fond */
                        opacity: 0;
                        transform: scale(0.8);
                        transition: opacity 0.3s ease, transform 0.3s ease;
                    }
                }
                /* Quand le checkbox est coché → on change le style du label */
                .btn__check:checked + .btn {
                    .fa-regular {
                        opacity: 0;
                    }
                    .btn__bg {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
            }            
        }
    }
}

/*Footer*/
.footer-container{
    background-color: black;
    color:white;
    padding: 30px;

    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;

        img{
            width: 139px;
            height: 27px;
            filter: invert(1) brightness(1.5);
        }

        .footer-links{
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: left;

            p{
                margin: 0;
                font-size: 16px;

                &:has(i) {
                    font-weight: 500; 
                }
            }

            i{
                margin-right: 12px;
                width: 12px;
                height: 12px;
            }
        }
    }
}

@media screen and (min-width: 1020px){
  /* Styles pour la version desktop */
    section{
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        }

    .header-container{
        height: 146px;
    }

    .header{
        box-shadow: none;
    }

    .location{
        box-shadow: none;
    }
    
    .hero{
        margin:0;
        gap: 10px;

        .section-title{
            font-size: 40px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin: 0;
        }

        p{
            width: 100%;
            font-size: 20px;
        }
    }
    .fonctionnement{
        padding-left: 90px;
        padding-right: 90px;
        background-color: white;


        .steps{
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            .step{
                width: auto;
            }
        }
    }

    .restaurants{
        padding-left: 90px;
        padding-right: 90px;
        
        .restaurants-cards{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            .card{
                flex-grow: 1; 
                flex-basis: 0;
                min-width: 45%;
            } 
            
            .card .purple{
                color:vars.$primary;
            }
        }
    }
    .footer-container {
        display: flex;
        flex-direction: row;     
        align-items: flex-end;
        justify-content: flex-end; 
        height: 114px;
        padding: 30px 25px 30px 25px;
        .footer{
            display: flex;
            flex-direction: row-reverse;

            img{
                margin-right: 40px; 
                margin-left: 40px; 
            }

            .footer-links {
                flex-direction: row;  
                justify-content: flex-end;
                align-items: baseline;
                gap: 30px;  

                p:nth-child(2){
                    margin-right: 40px;
                }
            }
        }        
    }
}

@media (min-width: 1440px) {
  .fonctionnement {
    padding-left: 180px;
    padding-right: 180px;
  }
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}
