@use '_variables.scss' as vars;

$delay_between_card:1s;
.restaurant-page{
    @keyframes slide-in-right {
        0% {
            transform: translateX(-9999px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .card {
        opacity: 0;
        animation: slide-in-right 2s ease-out forwards;
    }
    .card:nth-of-type(1) {
        animation-delay: $delay_between_card;
    }
    .card:nth-of-type(2) {
        animation-delay: calc($delay_between_card * 2);
    }
    .card:nth-of-type(3) {
        animation-delay: calc($delay_between_card * 3);
    }
    .card:nth-of-type(4) {
        animation-delay: calc($delay_between_card * 4);
    }

    h1{
        font-family:shrikhand;
        font-size: 28px;
        font-weight: 500;
        font-style: italic;
        margin: 0;
    }
    h2{
        font-size: 16px;
        font-weight: 200;
        margin: 0;
    }

    h3{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }
    .card-subtitle{
        font-size: 15px;
        font-weight: 200;
        margin: 0;
    }
    .card-price{
        font-size: 15px;
        font-weight: bold;
        margin: 0;
    }
    .fa-regular{
        font-size: 22px;
    }
    a{
        color: inherit;
        text-decoration: none;
    }

    /*Header*/
    .header-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 67px;
        .header{
            display: flex;
            flex-direction: row;
            height: 67px;
            align-items: center;
            padding: 17px;
            justify-content: space-between;
            position: relative;
            background-color: white;
            .arrow{
                width: 30px;
                height: 30px;
                color: vars.$grey;
                align-content: center;
                margin-right: auto;
                display: flex;
            }
            .fa-solid{
                font-size: 30px;
            }
            .logo{
                flex-grow: 1;
                text-align: center;
                img{
                    width: 197px;
                    height:36px;
                }
            }
        }
    }

    .main-container{
        background-color: white;
        .image-container{
            position: relative;
            width: 100%;
            height: 275px;
            overflow: hidden;
            z-index: 1;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                object-position: center;
            }
        }
        .carte{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            background-color: vars.$background;
            padding: 10px;
            margin-top: -40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 2;
            .restaurant-title{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 30px;
                max-width: 371px;  
                gap: 24px;
                flex-wrap: wrap;
                .btn__check {
                    display: none;
                }
                .btn {
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    position: relative;
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    .fa-regular {
                        font-size: 22px;
                        color: #666;
                        transition: opacity 0.25s ease;
                    }
                    &__bg {
                        position: absolute;
                        font-size: 22px;
                        background: linear-gradient(180deg, #9356dc, #ff79da);
                        background-clip: text;     
                        color: transparent; 
                        opacity: 0;
                        transform: scale(0.8);
                        transition: opacity 0.3s ease, transform 0.3s ease;
                    }
                }
                .btn__check:checked + .btn {
                    .fa-regular {
                        opacity: 0;
                    }
                    .btn__bg {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
            }
            .carte-details{
                display: flex;
                flex-direction: column;
                gap: 12px;;
                margin-top: 30px;
                width: 100%;
                .section-title{
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px; // espace entre le texte et le trait
                        width: 60px;  // longueur du trait (ajuste selon ton design)
                        height: 4px;  // épaisseur du trait
                        background-color:vars.$green; // vert menthe clair
                        border-radius: 2px;
                    }
                }
                .card {
                    position: relative; 
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 15px;
                    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
                    padding: 0.8rem 1rem;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    .card-txt {
                        flex: 1;
                        overflow: hidden;
                        .card-title {
                            font-size: 1rem;
                            font-weight: 600;
                            margin-bottom: 0.3rem;
                            white-space:nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .card-subtitle {
                            font-size: 0.9rem;
                            color: #777;
                            white-space:nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .card-price {
                        font-weight: 600;
                        position: relative;
                        z-index: 1; 
                        transition: transform 0.3s ease;
                        white-space: nowrap;
                        margin-left: 0.5rem;
                    }
                    .menu-check {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 3rem;
                        background-color: vars.$green;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateX(100%);
                        transition: transform 0.4s ease;
                        border-radius: 0 15px 15px 0;
                        i {
                            font-size: 1.2rem;
                            color: white;
                            transition: transform 0.3s ease;
                            
                        }
                    }
                    &:hover .menu-check {
                        transform: translateX(0);
                    }
                    &:hover .card-price {
                        transform: translateX(-1.5rem);
                    }
                }
            }
            @keyframes fadeInUp {
                0% {
                    opacity: 0;
                    transform: translateY(20px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    .btn-round {
        width: 218px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: medium;
        box-shadow: vars.$shadow;
        margin-top: 30px;
        margin-bottom: 20px;
        cursor: pointer;
        background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
        transition: all 300ms ease;
        &:hover{
            filter: brightness(1.2);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);    
        }
    }
}
/*Footer*/
.footer-container{
    background-color: black;
    color:white;
    padding: 30px;
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        img{
            width: 139px;
            height: 27px;
            filter: invert(1) brightness(1.5);
        }
        .footer-links{
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: left;
            p{
                margin: 0;
                font-size: 16px;
                font-weight: 500;                    
            }
            i{
                margin-right: 12px;
                width: 12px;
                height: 12px;
            }    
        }
    }
}
@media screen and (min-width: 1020px) {
    .main-container{
        .image-container{
            height: 383px;
        }
        .carte{
            max-width: 1055px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            .restaurant-title{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .carte-details{
                max-width: 634px;
            }
        }
    }
    .footer-container {
        display: flex;
        flex-direction: row;     
        align-items: flex-end;
        justify-content: flex-end; 
        height: 114px;
        padding: 30px 25px 30px 25px;
        .footer{
            display: flex;
            flex-direction: row-reverse;
            img{
                margin-right: 40px; 
                margin-left: 40px; 
            }
            .footer-links {
                flex-direction: row;  
                justify-content: flex-end;
                align-items: baseline;
                gap: 30px;  
                p:nth-child(2){
                    margin-right: 40px;
                }
            }
        }        
    }
}
