@charset "UTF-8";
.loader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
  animation: fadeOut 1s ease 2.8s forwards;
}
.loader .load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
.loader .load__bar {
  background-color: #9356DC;
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards infinite ease-in-out;
  animation-play-state: running;
}
.loader .load__bar--1 {
  animation-direction: alternate;
  animation-delay: 200ms;
}
.loader .load__bar--1-inv {
  animation-delay: 425ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.loader .load__bar--1-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--2 {
  animation-direction: alternate;
  animation-delay: 400ms;
}
.loader .load__bar--2-inv {
  animation-delay: 1285ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.loader .load__bar--2-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--3 {
  animation-direction: alternate;
  animation-delay: 600ms;
}
.loader .load__bar--3-inv {
  animation-delay: 1170ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.loader .load__bar--3-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--4 {
  animation-direction: alternate;
  animation-delay: 800ms;
}
.loader .load__bar--4-inv {
  animation-delay: 1925ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.loader .load__bar--4-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--5 {
  animation-direction: alternate;
  animation-delay: 1000ms;
}
.loader .load__bar--5-inv {
  animation-delay: 1615ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.loader .load__bar--5-inv:hover {
  animation-play-state: paused;
}
.loader__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  color: #9356DC;
  margin-top: 1rem;
  animation: textFade 3s ease-in-out;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes textFade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/*Général*/
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background: #f6f6f6;
  margin: 0;
}

h1 {
  font-size: 16px;
  font-weight: 500;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

p {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header, .location, .btn-round, .step-content {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Header*/
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 113px;
}
.header-container .header {
  display: flex;
  flex-direction: row;
  height: 67px;
  align-items: center;
  padding: 17px;
  justify-content: center;
  position: relative;
  background-color: white;
}
.header-container .header .fa-arrow-left {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #353533;
  align-content: center;
  left: 20px;
}
.header-container .header .logo {
  justify-content: center;
}
.header-container .header .logo img {
  width: 197px;
  height: 36px;
}
.header-container .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding: 10px;
  background: #eaeaea;
}

/*Section Hero*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 30px;
  background-color: transparent;
}
.hero .section-title {
  width: 275px;
  height: 68px;
  text-align: center;
  margin: 0;
}
.hero p {
  width: 315px;
  height: 46px;
  text-align: center;
  margin-top: 10px;
}
.hero .btn-round {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: medium;
  margin-top: 30px;
  cursor: pointer;
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  transition: all 300ms ease;
}
.hero .btn-round:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);
}

/*Section Fonctionnement*/
.fonctionnement {
  background-color: white;
  padding: 20px;
}
.fonctionnement .section-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.fonctionnement .steps {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  gap: 30px; /* espace entre les bulles */
}
.fonctionnement .step {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.fonctionnement .step .step-number {
  background: #a855f7;
  color: white;
  font-weight: bold;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 13px;
  position: relative;
  z-index: 2;
}
.fonctionnement .step .step-content {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  background: #f6f6f6;
  border-radius: 20px;
  padding: 8px 16px;
  width: 322px; /* ajuste selon ton design */
  height: 72px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  margin-left: -22px;
}
.fonctionnement .step .step-content .fa-solid {
  width: 13px;
  height: 20px;
  margin: 20px;
}
.fonctionnement .step .step-content .step-text {
  font-size: 15px;
  color: black;
}
.fonctionnement .step .step-content .fa-store {
  color: #9356dc;
}

/*Section Restaurants*/
.restaurants {
  margin: 0;
  box-sizing: border-box;
  padding: 50px 18px;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .restaurants-cards .card {
  display: flex;
  flex-direction: column;
  height: 251px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
.restaurants .restaurants-cards .card .image-container {
  position: relative;
  width: 100%;
  height: 231px;
  overflow: hidden;
}
.restaurants .restaurants-cards .card .image-container .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
.restaurants .restaurants-cards .card .card-txt {
  padding: 10px;
}
.restaurants .restaurants-cards .card .card-txt .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Quand le checkbox est coché → on change le style du label */
}
.restaurants .restaurants-cards .card .card-txt .card-header .card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.restaurants .restaurants-cards .card .card-txt .card-header .btn__check {
  display: none;
}
.restaurants .restaurants-cards .card .card-txt .card-header .btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.restaurants .restaurants-cards .card .card-txt .card-header .btn .fa-regular {
  font-size: 22px;
  color: #666;
  transition: opacity 0.25s ease;
}
.restaurants .restaurants-cards .card .card-txt .card-header .btn__bg {
  position: absolute;
  font-size: 22px;
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text; /* Applique le fond au texte */
  color: transparent; /* Rend le texte transparent pour voir le fond */
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.restaurants .restaurants-cards .card .card-txt .card-header .btn__check:checked + .btn .fa-regular {
  opacity: 0;
}
.restaurants .restaurants-cards .card .card-txt .card-header .btn__check:checked + .btn .btn__bg {
  opacity: 1;
  transform: scale(1.1);
}

/*Footer*/
.footer-container {
  background-color: black;
  color: white;
  padding: 30px;
}
.footer-container .footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-container .footer img {
  width: 139px;
  height: 27px;
  filter: invert(1) brightness(1.5);
}
.footer-container .footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.footer-container .footer .footer-links p {
  margin: 0;
  font-size: 16px;
}
.footer-container .footer .footer-links p:has(i) {
  font-weight: 500;
}
.footer-container .footer .footer-links i {
  margin-right: 12px;
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 1020px) {
  /* Styles pour la version desktop */
  section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .header-container {
    height: 146px;
  }
  .header {
    box-shadow: none;
  }
  .location {
    box-shadow: none;
  }
  .hero {
    margin: 0;
    gap: 10px;
  }
  .hero .section-title {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .hero p {
    width: 100%;
    font-size: 20px;
  }
  .fonctionnement {
    padding-left: 180px;
    padding-right: 180px;
    background-color: white;
  }
  .fonctionnement .steps {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .fonctionnement .steps .step {
    width: auto;
  }
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
  .restaurants .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .restaurants .restaurants-cards a {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 40%;
  }
  .restaurants .restaurants-cards .card .purple {
    color: #9356dc;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 114px;
    padding: 30px 25px 30px 25px;
  }
  .footer-container .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-container .footer img {
    margin-right: 40px;
    margin-left: 40px;
  }
  .footer-container .footer .footer-links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 30px;
  }
  .footer-container .footer .footer-links p:nth-child(2) {
    margin-right: 40px;
  }
}
.restaurant-page {
  /* --- Animation d'apparition depuis la gauche --- */
  /*Header*/
}
@keyframes slide-in-right {
  0% {
    transform: translateX(-9999px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.restaurant-page .card {
  opacity: 0;
  animation: slide-in-right 2s ease-out forwards;
}
.restaurant-page .card:nth-of-type(1) {
  animation-delay: 1s;
}
.restaurant-page .card:nth-of-type(2) {
  animation-delay: 2s;
}
.restaurant-page .card:nth-of-type(3) {
  animation-delay: 3s;
}
.restaurant-page .card:nth-of-type(4) {
  animation-delay: 4s;
}
.restaurant-page h1 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  margin: 0;
}
.restaurant-page h2 {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}
.restaurant-page h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.restaurant-page .card-subtitle {
  font-size: 15px;
  font-weight: 200;
  margin: 0;
}
.restaurant-page .card-price {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.restaurant-page .fa-regular {
  font-size: 22px;
}
.restaurant-page a {
  color: inherit;
  text-decoration: none;
}
.restaurant-page .header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 67px;
}
.restaurant-page .header-container .header {
  display: flex;
  flex-direction: row;
  height: 67px;
  align-items: center;
  padding: 17px;
  justify-content: space-between;
  position: relative;
  background-color: white;
}
.restaurant-page .header-container .header .arrow {
  width: 30px;
  height: 30px;
  color: #353533;
  align-content: center;
  margin-right: auto;
  display: flex;
}
.restaurant-page .header-container .header .fa-solid {
  font-size: 30px;
}
.restaurant-page .header-container .header .logo {
  flex-grow: 1;
  text-align: center;
}
.restaurant-page .header-container .header .logo img {
  width: 197px;
  height: 36px;
}
.restaurant-page .main-container {
  background-color: white;
}
.restaurant-page .main-container .image-container {
  position: relative;
  width: 100%;
  height: 275px;
  overflow: hidden;
  z-index: 1;
}
.restaurant-page .main-container .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
.restaurant-page .main-container .carte {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  padding: 10px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.restaurant-page .main-container .carte .restaurant-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
  gap: 24px;
  /* Quand le checkbox est coché → on change le style du label */
}
.restaurant-page .main-container .carte .restaurant-title .btn__check {
  display: none;
}
.restaurant-page .main-container .carte .restaurant-title .btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.restaurant-page .main-container .carte .restaurant-title .btn .fa-regular {
  font-size: 22px;
  color: #666;
  transition: opacity 0.25s ease;
}
.restaurant-page .main-container .carte .restaurant-title .btn__bg {
  position: absolute;
  font-size: 22px;
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text; /* Applique le fond au texte */
  color: transparent; /* Rend le texte transparent pour voir le fond */
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.restaurant-page .main-container .carte .restaurant-title .btn__check:checked + .btn .fa-regular {
  opacity: 0;
}
.restaurant-page .main-container .carte .restaurant-title .btn__check:checked + .btn .btn__bg {
  opacity: 1;
  transform: scale(1.1);
}
.restaurant-page .main-container .carte .carte-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
  width: 100%;
}
.restaurant-page .main-container .carte .carte-details .section-title {
  position: relative;
}
.restaurant-page .main-container .carte .carte-details .section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 60px;
  height: 4px;
  background-color: #99e2d0;
  border-radius: 2px;
}
.restaurant-page .main-container .carte .carte-details .card {
  position: relative; /* Permet le positionnement absolu de la coche */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.restaurant-page .main-container .carte .carte-details .card .card-txt {
  flex: 1;
  overflow: hidden;
}
.restaurant-page .main-container .carte .carte-details .card .card-txt .card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-page .main-container .carte .carte-details .card .card-txt .card-subtitle {
  font-size: 0.9rem;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-page .main-container .carte .carte-details .card .card-price {
  font-weight: 600;
  position: relative;
  z-index: 1; /* reste au-dessus du fond blanc */
  transition: transform 0.3s ease;
  white-space: nowrap;
  margin-left: 0.5rem;
}
.restaurant-page .main-container .carte .carte-details .card .menu-check {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3rem;
  background-color: #99e2d0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  border-radius: 0 15px 15px 0;
}
.restaurant-page .main-container .carte .carte-details .card .menu-check i {
  font-size: 1.2rem;
  color: white;
  transition: transform 0.3s ease;
}
.restaurant-page .main-container .carte .carte-details .card:hover .menu-check {
  transform: translateX(0);
}
.restaurant-page .main-container .carte .carte-details .card:hover .card-price {
  transform: translateX(-1.5rem);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.restaurant-page .btn-round {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: medium;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  transition: all 300ms ease;
}
.restaurant-page .btn-round:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);
}

/*Footer*/
.footer-container {
  background-color: black;
  color: white;
  padding: 30px;
}
.footer-container .footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-container .footer img {
  width: 139px;
  height: 27px;
  filter: invert(1) brightness(1.5);
}
.footer-container .footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.footer-container .footer .footer-links p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.footer-container .footer .footer-links i {
  margin-right: 12px;
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 1020px) {
  /* Styles pour la version desktop */
  .main-container .image-container {
    height: 383px;
  }
  .main-container .carte {
    max-width: 1055px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container .carte .restaurant-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main-container .carte .carte-details {
    max-width: 634px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 114px;
    padding: 30px 25px 30px 25px;
  }
  .footer-container .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-container .footer img {
    margin-right: 40px;
    margin-left: 40px;
  }
  .footer-container .footer .footer-links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 30px;
  }
  .footer-container .footer .footer-links p:nth-child(2) {
    margin-right: 40px;
  }
}/*# sourceMappingURL=app.css.map */